<div class="topnav">
    <nav>
        <a class="activeL" routerLink="/home" routerLinkActive="active"> Home </a>
        <a routerLink="/countries" routerLinkActive="active"> Countries </a>
        <a routerLink="/about" routerLinkActive="active"> About </a>
        <a routerLink="/contact" routerLinkActive="active"> Contact </a>
    </nav>

        <img src="../../../assets/images/facebookIcon.png" height="45px" width="45px" class="facebook">
        <img src="../../../assets/images/instegramIcon.webp" height="45px" width="45px" class="instegram">
        <img src="../../../assets/images/twitterIcon.png" height="48px" width="48px" class="twitter">

    <div class="topnav2">
        <nav>
            <a routerLink="/signup" routerLinkActive="active"> Sign-Up </a>
            <a routerLink="/users" routerLinkActive="active"> Users </a>
            <input type="search" placeholder="Type here..." class="srch"> 
            <button class="btnSrch"> Search </button>
        </nav>
    </div>
</div>

<h1> TripE </h1>