<div class="review">
    <h3> Each Country Profile provides information on:</h3>
    <p> · The name of the country · </p>
    <p> · The native name of the country · </p>
    <p> · The capital of the country · </p>
    <p> · The population of the country · </p>
    <p> · And even the flag of the country! · </p>
    <br>
</div>

<div class="tableDiv"> 
    <table>
        <tr>
            <th>
                <p class="videosHeader"> Videos </p>
         
            </th>
        </tr>
        
        <tr>
            <th>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KHGcQuX344A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </th>
        </tr>
        
        <tr>
            <th>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_r1-M5lnSyo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </th>
        </tr>
        
        <tr>
            <th>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/I5HI_UuUUII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>

            </th>
        </tr>


    </table>
</div>

<div class="changingPic1">
    <img src='{{"/../../../assets/images/capitals/" + strPath}}'  class="changingImgEffect">
</div>
<div class="img-container">
    <img class="img-picture" src="/../../../assets/images/capitals/">
</div>




